<form>
    <div class="form-row" style="padding-left: 25%; width: 75%;">
        <div class="form-group col-md-6">
            <label for="Firstname">Firstname</label>
            <input type="text" class="form-control" id="Firstname" value="<%= model.firstname %>" style="border:2px solid black;">
        </div>
        <div class="form-group col-md-6">
            <label for="Lastname">Lastname</label>
            <input type="text" class="form-control" id="Lastname" value="<%= model.lastname %>" style="border:2px solid black;"> 
        </div>
    </div>

    <div class="form-group" style="padding-left: 40%; width: 60%;">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" value="<%= model.email %>" style="border:2px solid black;">
    </div>

    <div class="form-row" style="padding-left: 25%; width: 75%;">
        <div class="form-group col-md-6">
            <label for="Born_Date">Born Date</label>
            <input type="date" class="form-control" id="Born_Date" value="<%= model.born_date %>" style="border:2px solid black;">
        </div>
        <div class="form-group col-md-6">
            <label for="Country">Country</label>
            <input type="text" class="form-control" id="Country" value="<%= model.country %>" style="border:2px solid black;">
        </div>
    </div>
</form>