<%- include("_header") -%>

    <h1 style='text-align: center; margin-top: 25px; margin-bottom: 25px;'>Database Project Credits</h1>

    <div class="card-deck" style="padding-left: 625px; width: 100%;">
        <div class="card text-white bg-dark mb-3" style="max-width: 19.5rem;">
        <div class="card-body">
            <h5 class="card-title">Versions</h5>
            <hr>
            <p class="card-text">NodeJS Version v10.15.0</p>
            <p class="card-text">Npm Version v6.12.1</p>
            <p class="card-text">Express Version v6.12.1</p>
            <p class="card-text">Ejs Version v6.12.1</p>
            <p class="card-text">Sqlite Version v6.12.1</p>
        </div>
        </div>
        <div class="card text-white bg-dark mb-3" style="max-width: 19.5rem;">
        <div class="card-body">
            <h5 class="card-title">Commands</h5>
            <hr>
            <p class="card-text">node -v</p>
            <p class="card-text">npm -v</p>
            <p class="card-text">npm express -v</p>
            <p class="card-text">npm ejs -v</p>
            <p class="card-text">npm sqlite -v</p>
        </div>
        </div>
    </div>

<%- include("_footer") -%>