<%- include("_header") -%>

<h1>Create a record</h1>

<form action="/created" method="post">
  <div class="form-horizontal">

    <%- include("_editor") -%>

    <div class="form-group row" style="padding-left: 35%; padding-top: 25px; width: 100%;">
      <label class="col-form-label col-sm-2"></label>
      <div class="col-sm-10">
        <input type="submit" value="Ajouter" class="btn btn-default btn-success" />
        <a class="btn btn-outline-dark cancel" href="/database">Cancel</a>
      </div>
    </div>
  </div>
</form>

<%- include("_footer") -%>