<%- include("_header") -%>

<h1 style="text-align: center; margin-top: 25px; margin-bottom: 25px;">List of Users</h1>

<table class="table table-striped table-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Email</th>
        <th scope="col">Born date</th>
        <th scope="col">Country</th>
        <th class="d-print-none">
            <a class="btn btn-success" href="/create">Ajouter</a>
        </th>
    </tr>

    <% for (const users of model) { %>
    <tr>
        <td><%= users.id %></td>
        <td><%= users.firstname %></td>
        <td><%= users.lastname %></td>
        <td><%= users.email %></td>
        <td><%= users.born_date %></td>
        <td><%= users.country %></td>
        <td class="d-print-none">
            <form (method='POST' action='/delete/<%= users.id %>?_method=DELETE')>
                <a class="btn btn-primary" href="/edit/<%= users.id %>">Editer</a>
                <button class='btn btn-danger' type='submit'>Supprimer</button> 
            </form>
        </td>
    </tr>
    <% } %>

</table>

<%- include("_footer") -%>