<%- include("_header") -%>

<h1 style="text-align: center; margin-top: 25px;">Update a record</h1>

<form action="/edit/<%= model.id %>" method="post">
    <div class="form-horizontal">

        <%- include("_editor") -%>

        <div class="form-group row" style="padding-left: 35%; padding-top: 25px; width: 100%;">
            <label class="col-form-label col-sm-2"></label>
            <div class="col-sm-10">
                <input type="submit" value="Update" class="btn btn-default btn-warning">
                <a class="btn btn-dark cancel" href="/database">Cancel</a>
            </div>
        </div>
    </div>
</form>

<%- include("_footer") -%>