<%- include('_header') -%>

    <h1 style='text-align: center; margin-top: 25px; margin-bottom: 25px;'>Database Project</h1>

    <div class="card-deck" style="padding-left: 465px; width: 100%;">
        <div class="card text-white bg-dark mb-3" style="max-width: 19.5rem;">
        <div class="card-body">
            <h5 class="card-title">What is it?</h5>
            <hr>
            <p class="card-text">Database Project is a bit of a haphazard project, is just for me to develop a little bit. So I linked EJS, Express, Sqlite3 and NodeJS to make this project. This one is useless, except to display data stored in a randomly generated database.</p>
        </div>
        </div>
        <div class="card text-white bg-dark mb-3" style="max-width: 19.5rem;">
        <div class="card-body">
            <h5 class="card-title">Why this project?</h5>
            <hr>
            <p class="card-text">I didn't want to lose my hand in development, I finished my studies, but I don't have a job in this field at the moment. So I wanted to keep my hand, learn and improve some skills.</p>
        </div>
        </div>
        <div class="card text-white bg-dark mb-3"style="max-width: 19.5rem;">
        <div class="card-body">
            <h5 class="card-title">Who am I?</h5>
            <hr>
            <p class="card-text">My name is Denis, I'm a developer. I finished school in 2020 with a bachelor's degree. My Gitlab: <a target='_blank' href="https://gitlab.com/McDenis">https://gitlab.com/McDenis</a> </p>
        </div>
        </div>
    </div>

<%- include('_footer') -%>